@import "../../common/styles/globals/includes/colors";
@import "../../common/styles/globals/includes/mixins";

.ReactTable.user-table {
  margin:40px 0 20px 0;
  background-color:#fff;
  overflow:hidden;
  font-size:14px;
  border-width:0 1px 1px 1px;
  border-style:solid;
  border-color:$almost-black;

  @include rounded-corners(3px);

  .rt-thead.-header {
    box-shadow:none;
    background-color:$almost-black;
    color:#fff;
  }

  .rt-tbody .rt-tr-group {
    border-bottom:1px solid $lightgrey-border;
  }

  .rt-td {
    padding:7px;
  }

  .rt-thead .rt-th.-sort-asc {
    box-shadow:inset 0 4px 0 0 $ocean-hover;
  }

  .rt-thead .rt-th.-sort-desc {
    box-shadow:inset 0 -4px 0 0 $ocean-hover;
  }
}