@import "../../common/styles/globals/includes/colors";

.Table__itemCount {
  font-size:15px;
}

.Table__pagination {
  display:flex;
  justify-content:flex-end;
  padding:15px 20px;
  border-top:1px solid $lightgrey-border;
}

.Table__pageButton {
  font-size:15px;
  font-family:Assistant;
  font-weight:bold;
  color:$standard-type;
  outline:none;
  border:none;
  background-color:transparent;
  cursor:pointer;
}

.Table__pageButton:disabled {
  cursor: not-allowed;
  color: $lightblue-type;
}

.Table__pageButton--active {
  color: $ocean;
  font-weight: bold;
}
