@import "../../common/styles/globals/colors";
@import "../../common/styles/globals/mixins";
@import "../../common/styles/globals/buttons";
@import "../../common/styles/layout";

$cell-height:90px;

.cell {
  position:relative;
  display:inline-block;
  box-sizing:border-box;
  vertical-align:middle;
  height:$cell-height;
  margin:0;
  padding:4px;
}

.cell.no-pad {
  padding:0;
}

.cell.w2  { width:16.6%; }
.cell.w3  { width:25%; }
.cell.w5  { width:41.6%; }
.cell.w6  { width:50%; }
.cell.w7  { width:58.3%; }
.cell.w12 { width:100%; }

.cell.h2 { height:($cell-height * 2); }
.cell.h3 { height:($cell-height * 3); }
.cell.h4 { height:($cell-height * 4); }

.nav-menu {
  padding-left:4px;
}

.dashboard {
  max-width:1150px;
  min-width:920px;
  margin:0 auto;
  padding:30px 0;
}

.dashboard:after {
  content:'';
  display:block;
  clear:both;
}

.metric {
  margin:0;
  position:relative;
  box-sizing:border-box;
  color:$standard-type;
  background-color:#fff;
  border:1px solid $almost-black;
  text-align:center;
  padding:5px 0 8px;
  height:100%;

  @include rounded-corners(3px);

   .number, .caption {
     display:block;
     line-height:170%;
   }

   .number {
     padding:3% 0;
     font-size:23px;
   }

   .caption {
     position:absolute;
     bottom:0;
     width:100%;
     background-color:$almost-black;
     color:#fff;
     font-size:14px;
   }

}

.h2>.metric .number {
  padding:17% 0;
  font-size:36px;
}
