@import "../../styles/globals/colors";
@import "../../styles/globals/mixins";

.foldable-panel.closed {

  h2 {
    @include rounded-corners-bottom(3px);
  }

}

.foldable-panel {
  @include rounded-corners(3px);
  margin-bottom:10px;

  h2 {
    color:#fff;
    background-color:$almost-black;
    font-size:14px;
    font-weight:normal;
    padding:7px;
    cursor:pointer;

    @include rounded-corners-top(3px);
  }

  .toggle {
    display:inline-block;
    color:$almost-black;
    background-color:#fff;
    width:16px;
    height:16px;
    text-align:center;
    vertical-align:top;
    line-height:16px;
    margin-right:8px;

    @include rounded-corners(100%);
  }

  .inner {
    background-color:#fff;
    border-style:solid;
    border-width:0 1px 0 1px;
    border-color:$almost-black;
    max-height:0;
    overflow:hidden;

    @include rounded-corners-bottom(3px);
  }

  .inner.inner-enter,
  .inner.inner-enter-done {
    border-bottom-width:1px;
    max-height:400px;
    transition:max-height 0.25s linear;
    -webkit-transition:max-height 0.25s linear;
  }

  .inner.inner-exit-active {
    border-bottom-width:1px;
  }

  .inner.inner-exit,
  .inner.inner-exit-done {
    max-height:0;
    transition:max-height 0.25s linear;
    -webkit-transition:max-height 0.25s linear;
  }

  .inner.inner-exit-done {
    border-bottom-width:0;
  }

}