@import "../../../common/styles/globals/colors";

.metric.activity-history {
  position:relative;
  width:100%;
  height:100%;
  padding:8px 0 20px 0;

  .inner {
    position:relative;
  }

  #activity-history-chart {
    box-sizing:border-box;
    width:100%;
    height:100%;
  }

  .ct-series-a .ct-bar {
    stroke:$ocean;
    stroke-width:10.5px;
  }

  .ct-label {
    white-space:nowrap;
  }

}