@import "../../../common/styles/globals/colors";

.activity-history {
  position:relative;
  width:100%;
  height:100%;
  padding:15px 0 25px 0;

  #activity-history-chart {
    padding:0 20px 0 5px;
    box-sizing:border-box;
    width:100%;
    height:100%;
  }

  .ct-series-a .ct-bar {
    stroke:$ocean;
    stroke-width:10.5px;
  }

  .ct-label {
    white-space:nowrap;
  }

}