@import "../../../common/styles/globals/colors";
@import "../../../common/styles/globals/forms";
@import "../../../common/styles/globals/buttons";

.user-details {

  .identity {
    border-bottom:1px solid $lightgrey-border;

    .basics, .extended {
      padding:10px;
    }

    .basics {

      h1 {
        margin-top:-3px;
        padding:3px 0;
        font-size:19px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }

      .member-since {
        font-size:14px;
        padding:0;
        margin:0;
        color:$lightblue-type;
        font-weight:normal;
      }

    }

    .extended {
      padding-bottom:20px;

      p {
        margin:0;
        padding:0;
      }

      .homepage a {
        color:$ocean;
        text-decoration:underline;
      }

    }

  }

  .user-settings {
    font-size:15px;
    background-color:$blueish-white;

    * { 
      margin:0; 
    }

    form { 
      padding: 30px 0; 
    }
  }

  .footer {
    border-top:1px solid $lightgrey-border;
    padding:15px 10px;
    text-align:right;

    button {
      margin:0 3px;
    }

    button.delete {
      float:left;
    }
  }

}