@import "../../../common/styles/globals/colors";

.metric.right-now {
  position:relative;
  padding:0 0 22px 0;

  .container {
    height:100%;
    overflow:hidden !important;
    box-sizing:border-box;
    text-align:left;
  }

  table {
    width:100%;
    border-collapse:collapse;

    tr:nth-child(even) td {
      background-color:$blueish-white;
    }

    td {
      padding:3px 8px;
      font-size:14px;
      line-height:18px;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      max-width:0;

      a { color:$lightblue-type; }
      em { font-style:normal; }

    }

    td.made-at {
      width:120px;
      text-align:right;
    }

  }

}