@import "../../../common/styles/globals/colors";

.right-now {
  position:relative;
  padding:0;

  .container {
    border-bottom:23px solid transparent;
    height:100%;
    overflow:hidden !important;
    box-sizing:border-box;
    text-align:left;
  }

  table {
    width:100%;
    border-collapse:collapse;

    tr.even td {
      background-color:$blueish-white;
    }

    td {
      padding:2px 8px;
      font-size:15px;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      max-width:0;

      a { color:$lightblue-type; }
      em { font-style:normal; }

    }

    td.made-at {
      width:120px;
      text-align:right;
    }

  }

}