@import "../../common/styles/globals/colors";
@import "../../common/styles/globals/mixins";
@import "../../common/styles/globals/buttons";
@import "../../common/styles/globals/forms";
@import "../../common/styles/layout";

.panels {
  margin:40px 0 20px 0;

  a {
    color:$almost-black;
  }

  ul {
    margin:0;
    padding:10px 25px;
  }

  .instructions {
    margin:0;
    padding:15px;
    line-height:160%;
  }

}