html, body {
  background-color:$blueish-white;
  color:$almost-black;
  font-family:Assistant;
  font-size:16px;
  margin:0;
  padding:0;
}

#app {
  max-width:1150px;
  min-width:920px;
  margin:0 auto;
  position:relative;
  padding:20px;
}

.page-title {
  position:absolute;
  top:0;
  left:75px;
  font-size:26px;
  font-weight:normal;
  z-index:0;
}

h1, h2 {
  margin:0;
  padding:0;
}

.icon {
  font-family:FontAwesome;
  font-weight:normal;
  @include noselect();
}