.filestore {

  .inner {
    font-size:14px;

    span {
      display:inline-block;
    }

    .label {
      margin:20px 12px;
      padding-right:5px;
    }

    .value {
      font-weight:bold;
    }
  }

}