@import "../../../common/styles/globals/colors";
@import "../../../common/styles/globals/mixins";

.filestore {

  .inner {
    font-size:14px;

    span {
      display:inline-block;
    }

    .label {
      margin:0 15px 20px 15px;
      padding-right:5px;
    }

    .value {
      background-color:$blueish-white;
      padding:2px 8px;
      border:1px solid $lightgrey-border-darker;
      font-weight:bold;
    
      @include rounded-corners(3px);
    }
  }

}