.btn {
  background-color:$almost-black;
  border:1px solid $almost-black;
  box-sizing:border-box;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  font-family:Assistant;
  font-size:16px;
  margin:0;
  outline:none;
  text-decoration:none;
  white-space:nowrap;
  padding:8px 35px;
  vertical-align:middle;
  @include rounded-corners(2px);

  .icon { margin-right:4px; }
}

.btn.small {
  padding:6px 15px;
  font-size:14px;
}

.btn.outline {
  border:1px solid $almost-black;
  color:$almost-black;
  background-color:transparent;
  text-shadow:none;
}

/** Red 'Error'-style button **/
.btn.red {
  border-color:$error-msg-type;
  background-color:$error-msg-type;
}

.btn.red.outline {
  background-color:transparent;
  color:$error-msg-type;
}

.btn.red:hover {
  background-color:darken($error-msg-type, 5%);
}

.btn.red.outline:hover {
  background-color:rgba($error-msg-type, 0.2);
}

.btn.red.disabled,
.btn.red:disabled,
.btn.red.disabled:hover,
.btn.red:disabled:hover {
  border-color:lighten($error-msg-type, 25%);
  background-color:lighten($error-msg-type, 25%);
}
